<!DOCTYPE html>
<html>
  <head>
    <title>RobinAssist Dashboard</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="coach">
          <div class="coach-img"></div>
          <div class="coach-info">
            <h3>Inger van Spelden</h3>
            <h5>Begeleider</h5>
          </div>
          <div class="coach-toggle">
            <img src="./icons/toggle_wit-icon.svg" class="" alt="arrow icon" />
          </div>
        </div>
        <div class="search">
          <input type="search" placeholder="Zoeken op naam" />
        </div>
        <div class="client">
          <ul class="client-list">
            <li class="client-frame">
              <a href="#">
                <div class="client-img"></div>
                <div class="client-info">
                  <h3 class="client-info-firstname">Justin</h3>
                  <h5 class="client-info-last">Montoya</h5>
                </div>
                <div class="client-option">
                  <img
                    src="./icons/puntjes_wit-icon.svg"
                    class=""
                    alt="puntjes-icon"
                  />
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="create-client">
        <img src="./icons/plus_blauw-icon.svg" class="" alt="plus-icon" />
      </div>
    </div>
    <div class="main-content">{% block main %} {% endblock %}</div>
  </body>
</html>
