@import "mixins.scss";

$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$option: #320a28;

// SIDEBAR
.sidebar {
  position: fixed;
  left: 0;
  width: $navbar-width;
  height: 100%;
  background-color: $darkblue;
  border-radius: 0 4rem 4rem 0;
  box-shadow: 1rem 1rem 7rem #5e7cd564;
  overflow: hidden;
  @media (min-width: 0px) and (max-width: 821) {
    width: 30rem;
  }
  &-content {
    background-color: $blue;
    border-radius: 0 0 4rem 0;
    box-shadow: 1rem 1rem 4rem #5e7cd564;
    padding: 2rem 2.5rem 0 2rem;
    height: 85%;
    position: relative;
    @media (min-width: 0px) and (max-width: 1440px) {
      height: 80%;
    }
    @media (min-width: 0px) and (max-width: 1280px) {
      height: 80%;
    }
    @media (min-width: 0px) and (max-width: 1180px) {
      height: 85%;
    }
    @media (min-width: 0px) and (max-width: 1024px) {
      height: 90%;
    }

    .coach {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 2rem;
      &-img {
        z-index: 99;
        background-image: url(../images/coach2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
        width: 6rem;
        height: 6rem;
      }
      &-info {
        color: $white;
        margin-left: 1.2rem;
        h3 {
          font-weight: 700;
        }
        h5 {
          font-weight: 500;
        }
      }
      &-toggle {
        align-self: center;
        margin: 0 2rem 0 auto;
      }
    }

    .search {
      display: flex;
      align-items: center;
      background: $smoke;
      border-radius: 1rem;
      padding: 0.9rem;
      overflow: hidden;
      input,
      input:focus {
        outline: none;
      }
      input[type="search"] {
        border: none;
        width: 100%;
        background: $smoke;
        outline: none;
        font-size: 1.5rem;
        padding-left: 2rem;
        color: $darkblue;
        font-family: "Lato";
        &::placeholder {
          color: $darkblue;
          font-family: "Lato";
        }
      }
      &::before {
        content: "";
        background: url(/icons/zoeken-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 2.5rem;
        height: 2.3rem;
        display: inline-block;
      }
    }
    .client {
      padding-top: 2rem;
      &-frame {
        margin-bottom: 1.5rem;
        a {
          height: 5.5rem;
          background-color: #4f7bfa;
          border-radius: 2rem;
          padding: 0.9rem 1rem;
          display: flex;
          align-items: center;
        }
      }
      &-img {
        z-index: 99;
        background-image: url(../img/justin.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
        width: 6rem;
        height: 6rem;
      }
      &-info {
        color: $white;
        margin-left: 1.2rem;
        h3 {
          font-weight: 700;
        }
        h5 {
          font-weight: 500;
        }
      }
      &-option {
        align-self: flex-start;
        margin: 0 1rem 0 auto;
        img {
          height: 2rem;
          z-index: 99;
          margin-top: 1rem;
        }
      }
    }
    .create-client {
      background-color: $white;
      border-radius: 1.5rem;
      max-height: 3.5rem;
      max-width: 3.5rem;
      padding: 1rem;
      position: absolute;
      bottom: -2.7rem;
      @media (min-width: 0px) and (max-width: 1180px) {
        bottom: -2.1rem;
      }
      img {
      }
    }
  }
  .nav-bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 3rem 2rem 0 2rem;
    @media (min-width: 0px) and (max-width: 1280px) {
      padding-top: 1.5rem;
    }
    @media (min-width: 0px) and (max-width: 1180px) {
      padding-top: 2.5rem;
    }
    &-logo {
      @media (min-width: 0px) and (max-width: 1180px) {
        margin-left: rem;
      }
      img {
        width: 11rem;
      }
    }
    &-slogan {
      color: $white;
      margin-left: 1.2rem;
      font-family: "LatoThin";
      @include tablet-landscape-down {
        display: none;
      }
    }
    &-settings {
      align-self: flex-start;
      margin: 0 2rem 0 auto;
      img {
        width: 2.9rem;
      }
    }
  }
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-intro {
    justify-items: center;
  }
}
.main-content {
  margin-left: $navbar-width;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 0px) and (max-width: 820) {
    margin-left: 30rem;
  }
  &-container {
    width: calc(100% - 16rem);
    min-height: calc(100% - 16rem);
    margin-top: 11rem;
    border-radius: 5rem;
    padding: 6rem;
    background-color: $smoke;
    @media (min-width: 0px) and (max-width: 1280px) {
      margin-top: 8rem;
    }
    @media (min-width: 0px) and (max-width: 1180px) {
      padding: 4rem;
      margin-top: 3rem;
    }
    @media (min-width: 0px) and (max-width: 1024px) {
      margin-top: 0rem;
    }
    @media (min-width: 0px) and (max-width: 900px) {
      width: calc(100% - 10rem);
      min-height: calc(100% - 13rem);
      padding: 4rem 2.5rem;
    }
  }
  .client-form {
    h1 {
      margin-bottom: 4rem;
      @media (min-width: 0px) and (max-width: 1180px) {
        font-size: 3.7rem;
      }
      @media (min-width: 0px) and (max-width: 900px) {
        font-size: 3rem;
      }
    }
    h6 {
      margin-bottom: 0.5rem;
    }
    .form-left {
      // width: calc(100% - 40rem);
      max-width: 82rem;
    }
    .form-right {
      width: 40rem;
    }
    .form-top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2.2rem 1rem;
      margin-bottom: 2.2rem;
      > * {
        // width: calc(100% / 2 - 4rem);
        width: 33rem;
        @media (min-width: 0px) and (max-width: 900px) {
          width: 25rem;
        }
      }
      input,
      input:focus {
        outline: none;
      }
      input[type="text"],
      input[type="date"] {
        border: none;
        background: $grey;
        outline: none;
        font-size: 2rem;
        padding-left: 2rem;
        color: $darkblue;
        font-family: "Lato";
        opacity: 0.5;
        height: 5rem;
        border-radius: 1.5rem;
        &::placeholder {
          color: $darkblue;
          font-family: "Lato";
        }
      }
      .bdate-container {
        input[type="date"] {
          padding-right: 1rem;
          width: 32rem;
        }
      }
    }
    .radio-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      background-color: $grey;
      width: fit-content;
      border-radius: 1.5rem;
      margin-bottom: 2.2rem;

      input[type="radio"],
      input[type="checkbox"] {
        appearance: none;
        display: none;
      }

      label {
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        display: flex;
        // flex: 12%;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        width: 9.5rem;
        min-height: 4.1rem;
        text-align: center;
        border-radius: 1.5rem;
        overflow: hidden;
        transition: linear 0.3s;
        color: $darkblue;
      }

      input[type="radio"]:checked + label,
      input[type="checkbox"]:checked + label {
        background-color: $yellow;
        transition: 0.3s;
      }
    }
    #panicbuttons {
      label {
        padding: 0 2rem;
        width: fit-content;
      }
    }
    /* select color block */
    select {
      /* Reset */
      appearance: none;
      border: 0;
      outline: 0;
      font: inherit;
      /* Personalize */
      width: 35rem;
      height: 5rem;
      padding: 0 4em 0 1em;
      background: url(../icons/toggle-icon.svg) no-repeat right 0.8em center /
          1.4em,
        linear-gradient(to left, $grey 3em, rgba(255, 255, 255, 0.3) 3em);
      color: white;
      border-radius: 0.25em;
      cursor: pointer;
      &::before {
        content: "";
      }
      /* <option> colors */
      option {
        color: inherit;
        background-color: $grey;
        min-height: 2rem;
        // &:not(:checked) {
        //   background-color: purple;
        // }
        span {
          width: 100%;
          min-height: 100%;
          background-color: red;
        }
      }
      option[value="#FBCE53"] {
        background: #fbce53;
      }
      option[value="#F5A340"] {
        background: #f5a340;
      }
      option[value="#001858"] {
        background: #001858;
      }
      option[value="#00C426"] {
        background: #00c426;
      }
      option[value="#7419CE"] {
        background: #7419ce;
      }
      option[value="#D628B4"] {
        background: #d628b4;
      }
      /* Remove focus outline */
      &:focus {
        outline: none;
      }
      /* Remove IE arrow */
      &::-ms-expand {
        display: none;
      }
    }

    .client-button {
      background: $blue;
      color: white;
      font-family: "LatoBold";
      font-size: 2rem;
      padding: 0.35em;
      padding-left: 1.2em;
      border-radius: 1rem;
      border: none;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      height: 2.8em;
      padding-right: 3.3em;
    }

    .client-button .icon {
      background: #3e69e5;
      margin-left: 1em;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 5.5rem;
      border-radius: 1rem;
      right: 0;
      transition: all 0.3s;
    }

    .client-button {
      &:hover .icon {
        // width: calc(100% - 0.3em);
        width: 100%;
      }
    }

    .client-button .icon img {
      width: 1.1em;
      transition: transform 0.3s;
    }

    .client-button {
      &:hover .icon img {
        transform: translateX(0.1em);
      }
    }

    .client-button {
      &:active .icon {
        transform: scale(0.95);
      }
    }
  }
}
