/*------------------------------------*\
:    Mixins - Variables
\*------------------------------------*/
/*------------------------------------*\
:    Mixins - Fonts
\*------------------------------------*/
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Extrabold.otf");
}

@font-face {
  font-family: "LatoBold";
  src: url("/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "LatoThin";
  src: url("/fonts/Lato-Thin.ttf");
}

/*------------------------------------*\
:    Mixins - Basic
\*------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  background-image: url(/images/);
}

h1 {
  font-size: 4.5rem;
  font-family: "Gilroy";
  color: #001858;
}

h3 {
  font-size: 2rem;
  font-family: "Gilroy";
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
  font-family: "Lato";
}

h6 {
  font-size: 2rem;
  font-family: "Lato";
}

img {
  width: 100%;
}

/*------------------------------------*\
:    Mixins - Media Queries
\*------------------------------------*/
.sidebar {
  position: fixed;
  left: 0;
  width: 35rem;
  height: 100%;
  background-color: #001858;
  border-radius: 0 4rem 4rem 0;
  -webkit-box-shadow: 1rem 1rem 7rem #5e7cd564;
          box-shadow: 1rem 1rem 7rem #5e7cd564;
  overflow: hidden;
}

@media (min-width: 0px) and (max-width: 821) {
  .sidebar {
    width: 30rem;
  }
}

.sidebar-content {
  background-color: #2c58d5;
  border-radius: 0 0 4rem 0;
  -webkit-box-shadow: 1rem 1rem 4rem #5e7cd564;
          box-shadow: 1rem 1rem 4rem #5e7cd564;
  padding: 2rem 2.5rem 0 2rem;
  height: 85%;
  position: relative;
}

@media (min-width: 0px) and (max-width: 1440px) {
  .sidebar-content {
    height: 80%;
  }
}

@media (min-width: 0px) and (max-width: 1280px) {
  .sidebar-content {
    height: 80%;
  }
}

@media (min-width: 0px) and (max-width: 1180px) {
  .sidebar-content {
    height: 85%;
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .sidebar-content {
    height: 90%;
  }
}

.sidebar-content .coach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.sidebar-content .coach-img {
  z-index: 99;
  background-image: url(../images/coach2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  width: 6rem;
  height: 6rem;
}

.sidebar-content .coach-info {
  color: #fff;
  margin-left: 1.2rem;
}

.sidebar-content .coach-info h3 {
  font-weight: 700;
}

.sidebar-content .coach-info h5 {
  font-weight: 500;
}

.sidebar-content .coach-toggle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 2rem 0 auto;
}

.sidebar-content .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  border-radius: 1rem;
  padding: 0.9rem;
  overflow: hidden;
}

.sidebar-content .search input,
.sidebar-content .search input:focus {
  outline: none;
}

.sidebar-content .search input[type="search"] {
  border: none;
  width: 100%;
  background: #f7f7f7;
  outline: none;
  font-size: 1.5rem;
  padding-left: 2rem;
  color: #001858;
  font-family: "Lato";
}

.sidebar-content .search input[type="search"]::-webkit-input-placeholder {
  color: #001858;
  font-family: "Lato";
}

.sidebar-content .search input[type="search"]:-ms-input-placeholder {
  color: #001858;
  font-family: "Lato";
}

.sidebar-content .search input[type="search"]::-ms-input-placeholder {
  color: #001858;
  font-family: "Lato";
}

.sidebar-content .search input[type="search"]::placeholder {
  color: #001858;
  font-family: "Lato";
}

.sidebar-content .search::before {
  content: "";
  background: url(/icons/zoeken-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2.5rem;
  height: 2.3rem;
  display: inline-block;
}

.sidebar-content .client {
  padding-top: 2rem;
}

.sidebar-content .client-frame {
  margin-bottom: 1.5rem;
}

.sidebar-content .client-frame a {
  height: 5.5rem;
  background-color: #4f7bfa;
  border-radius: 2rem;
  padding: 0.9rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-content .client-img {
  z-index: 99;
  background-image: url(../img/justin.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  width: 6rem;
  height: 6rem;
}

.sidebar-content .client-info {
  color: #fff;
  margin-left: 1.2rem;
}

.sidebar-content .client-info h3 {
  font-weight: 700;
}

.sidebar-content .client-info h5 {
  font-weight: 500;
}

.sidebar-content .client-option {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 1rem 0 auto;
}

.sidebar-content .client-option img {
  height: 2rem;
  z-index: 99;
  margin-top: 1rem;
}

.sidebar-content .create-client {
  background-color: #fff;
  border-radius: 1.5rem;
  max-height: 3.5rem;
  max-width: 3.5rem;
  padding: 1rem;
  position: absolute;
  bottom: -2.7rem;
}

@media (min-width: 0px) and (max-width: 1180px) {
  .sidebar-content .create-client {
    bottom: -2.1rem;
  }
}

.sidebar .nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 3rem 2rem 0 2rem;
}

@media (min-width: 0px) and (max-width: 1280px) {
  .sidebar .nav-bottom {
    padding-top: 1.5rem;
  }
}

@media (min-width: 0px) and (max-width: 1180px) {
  .sidebar .nav-bottom {
    padding-top: 2.5rem;
  }
}

@media (min-width: 0px) and (max-width: 1180px) {
  .sidebar .nav-bottom-logo {
    margin-left: rem;
  }
}

.sidebar .nav-bottom-logo img {
  width: 11rem;
}

.sidebar .nav-bottom-slogan {
  color: #fff;
  margin-left: 1.2rem;
  font-family: "LatoThin";
}

@media (min-width: 0px) and (max-width: 1023px) {
  .sidebar .nav-bottom-slogan {
    display: none;
  }
}

.sidebar .nav-bottom-settings {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 2rem 0 auto;
}

.sidebar .nav-bottom-settings img {
  width: 2.9rem;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.welcome-intro {
  justify-items: center;
}

.main-content {
  margin-left: 35rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0px) and (max-width: 820) {
  .main-content {
    margin-left: 30rem;
  }
}

.main-content-container {
  width: calc(100% - 16rem);
  min-height: calc(100% - 16rem);
  margin-top: 11rem;
  border-radius: 5rem;
  padding: 6rem;
  background-color: #f7f7f7;
}

@media (min-width: 0px) and (max-width: 1280px) {
  .main-content-container {
    margin-top: 8rem;
  }
}

@media (min-width: 0px) and (max-width: 1180px) {
  .main-content-container {
    padding: 4rem;
    margin-top: 3rem;
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-container {
    margin-top: 0rem;
  }
}

@media (min-width: 0px) and (max-width: 900px) {
  .main-content-container {
    width: calc(100% - 10rem);
    min-height: calc(100% - 13rem);
    padding: 4rem 2.5rem;
  }
}

.main-content .client-form {
  /* select color block */
}

.main-content .client-form h1 {
  margin-bottom: 4rem;
}

@media (min-width: 0px) and (max-width: 1180px) {
  .main-content .client-form h1 {
    font-size: 3.7rem;
  }
}

@media (min-width: 0px) and (max-width: 900px) {
  .main-content .client-form h1 {
    font-size: 3rem;
  }
}

.main-content .client-form h6 {
  margin-bottom: 0.5rem;
}

.main-content .client-form .form-left {
  max-width: 82rem;
}

.main-content .client-form .form-right {
  width: 40rem;
}

.main-content .client-form .form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2.2rem 1rem;
  margin-bottom: 2.2rem;
}

.main-content .client-form .form-top > * {
  width: 33rem;
}

@media (min-width: 0px) and (max-width: 900px) {
  .main-content .client-form .form-top > * {
    width: 25rem;
  }
}

.main-content .client-form .form-top input,
.main-content .client-form .form-top input:focus {
  outline: none;
}

.main-content .client-form .form-top input[type="text"],
.main-content .client-form .form-top input[type="date"] {
  border: none;
  background: #ebebeb;
  outline: none;
  font-size: 2rem;
  padding-left: 2rem;
  color: #001858;
  font-family: "Lato";
  opacity: 0.5;
  height: 5rem;
  border-radius: 1.5rem;
}

.main-content .client-form .form-top input[type="text"]::-webkit-input-placeholder,
.main-content .client-form .form-top input[type="date"]::-webkit-input-placeholder {
  color: #001858;
  font-family: "Lato";
}

.main-content .client-form .form-top input[type="text"]:-ms-input-placeholder,
.main-content .client-form .form-top input[type="date"]:-ms-input-placeholder {
  color: #001858;
  font-family: "Lato";
}

.main-content .client-form .form-top input[type="text"]::-ms-input-placeholder,
.main-content .client-form .form-top input[type="date"]::-ms-input-placeholder {
  color: #001858;
  font-family: "Lato";
}

.main-content .client-form .form-top input[type="text"]::placeholder,
.main-content .client-form .form-top input[type="date"]::placeholder {
  color: #001858;
  font-family: "Lato";
}

.main-content .client-form .form-top .bdate-container input[type="date"] {
  padding-right: 1rem;
  width: 32rem;
}

.main-content .client-form .radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ebebeb;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem;
  margin-bottom: 2.2rem;
}

.main-content .client-form .radio-container input[type="radio"],
.main-content .client-form .radio-container input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.main-content .client-form .radio-container label {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
  width: 9.5rem;
  min-height: 4.1rem;
  text-align: center;
  border-radius: 1.5rem;
  overflow: hidden;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  color: #001858;
}

.main-content .client-form .radio-container input[type="radio"]:checked + label,
.main-content .client-form .radio-container input[type="checkbox"]:checked + label {
  background-color: #fbce53;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-content .client-form #panicbuttons label {
  padding: 0 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-content .client-form select {
  /* Reset */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 35rem;
  height: 5rem;
  padding: 0 4em 0 1em;
  background: url(../icons/toggle-icon.svg) no-repeat right 0.8em center/1.4em, -webkit-gradient(linear, right top, left top, color-stop(3em, #ebebeb), color-stop(3em, rgba(255, 255, 255, 0.3)));
  background: url(../icons/toggle-icon.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, #ebebeb 3em, rgba(255, 255, 255, 0.3) 3em);
  color: white;
  border-radius: 0.25em;
  cursor: pointer;
  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}

.main-content .client-form select::before {
  content: "";
}

.main-content .client-form select option {
  color: inherit;
  background-color: #ebebeb;
  min-height: 2rem;
}

.main-content .client-form select option span {
  width: 100%;
  min-height: 100%;
  background-color: red;
}

.main-content .client-form select option[value="#FBCE53"] {
  background: #fbce53;
}

.main-content .client-form select option[value="#F5A340"] {
  background: #f5a340;
}

.main-content .client-form select option[value="#001858"] {
  background: #001858;
}

.main-content .client-form select option[value="#00C426"] {
  background: #00c426;
}

.main-content .client-form select option[value="#7419CE"] {
  background: #7419ce;
}

.main-content .client-form select option[value="#D628B4"] {
  background: #d628b4;
}

.main-content .client-form select:focus {
  outline: none;
}

.main-content .client-form select::-ms-expand {
  display: none;
}

.main-content .client-form .client-button {
  background: #2c58d5;
  color: white;
  font-family: "LatoBold";
  font-size: 2rem;
  padding: 0.35em;
  padding-left: 1.2em;
  border-radius: 1rem;
  border: none;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.main-content .client-form .client-button .icon {
  background: #3e69e5;
  margin-left: 1em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 5.5rem;
  border-radius: 1rem;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-content .client-form .client-button:hover .icon {
  width: 100%;
}

.main-content .client-form .client-button .icon img {
  width: 1.1em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.main-content .client-form .client-button:hover .icon img {
  -webkit-transform: translateX(0.1em);
          transform: translateX(0.1em);
}

.main-content .client-form .client-button:active .icon {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
/*# sourceMappingURL=style.css.map */